/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.container .flex {
  display: flex;
}
.container h1 {
  font-size: 4rem;
}
.container h2 {
  font-size: 2rem;
}
.container h3 {
  font-size: 1.25rem;
}
.container header {
  display: flex;
  justify-content: flex-end;
}
.container header nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding: 0.625rem 0;
  margin: 2rem 0 0;
}
.container a {
  text-decoration: none;
  color: green;
}
.container .intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.625rem 0;
  border: 2px solid black;
  margin: 2rem 0;
}
.container .intro .intro-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 15rem;
}
.container .intro img {
  width: 25%;
}
.container .middle {
  display: flex;
  justify-content: space-between;
}
.container .middle .skills,
.container .middle .work-history {
  height: 15rem;
}
.container .middle .skills {
  border: 2px solid black;
  width: 37.5%;
}
.container .middle .skills th {
  padding: 10px 0;
}
.container .middle .skills td {
  padding: 10px;
}
.container .middle tr:nth-child(even) {
  background-color: lightgrey;
}
.container .middle .work-history {
  border: 2px solid black;
  width: 60%;
}
.container .bottom {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0;
  margin: 2rem 0;
}
.container .bottom .contact,
.container .bottom .socials {
  height: 15rem;
}
.container .bottom #contact {
  width: 70%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container .bottom #contact div {
  display: flex;
  justify-content: space-around;
  width: 25rem;
}
.container .bottom #contact input {
  border: 2px solid silver;
  width: 20rem;
  height: 2rem;
  padding-left: 5px;
}
.container .bottom #contact button {
  width: 15%;
  text-align: center;
}
.container .bottom .socials {
  width: 25%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container footer {
  display: flex;
  justify-content: center;
  padding: 0.625rem 0;
}
