// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

.background {
	background-image: linear-gradient(blue, lightblue, green);
}

.container {
	width: 90%;
	margin: 0 auto;

	.flex {
		display: flex;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	@border: 2px solid black;
	@bright: gold;
	@padding: 0.625rem 0;
	@margin: 2rem 0;
	@height: 15rem;

	header {
		.flex();
		justify-content: flex-end;

		nav {
			.flex();
			justify-content: space-around;
			width: 40%;
			padding: @padding;
			margin: @margin 0;
		}
	}

	a {
		text-decoration: none;
		color: @bright;

		// &:hover {
		// 	opacity: 0.5;
		// }
	}

	.intro {
		.flex();
		align-items: center;
		justify-content: space-around;
		padding: @padding;
		border: @border;
		margin: @margin;

		.intro-left {
			.flex();
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			width: 60%;
			// background-color: silver;
			height: @height;
		}

		img {
			width: 25%;
		}
	}

	.middle {
		.flex();
		justify-content: space-between;

		.skills, .work-history {
			height: @height;
		}

		.skills {
			// border: @border;
			width: 37.5%;
		}

		.work-history {
			// border: @border;
			width: 60%;
		}
	}

	.bottom {
		.flex();
		justify-content: space-between;
		padding: @padding;
		margin: @margin;

		.contact, .socials {
			height: @height;
		}

		.contact {
			width: 70%;
			border: @border;
			.flex();
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;

			p {
				border: 2px solid silver;
				width: 25rem;
				height: 2rem;
				.flex();
				justify-content: center;
				align-items: center;
			}

			button {
				width: 15%;
				text-align: center;
			}
		}

		.socials {
			width: 25%;
			border: @border;
		}
	}

	footer {
		.flex();
		justify-content: center;
		padding: @padding;
	}
}